.wrapper {
  max-width: 1400px;
  width: 1050px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

body {
  background-color: $secondary;
}

.errorText {
  margin-top: 30vh;
  text-align: center;
}

i {
  color: black;
}
