section {
  margin-bottom: 25px;
}

//stories section starts here
.stories {
  background-color: #fff;
  border: 1px solid $lightgrey;
  padding: 15px;
  text-align: center;
  width: 65%;

  .imgContainer {
    img {
      margin-bottom: 5px;
      border-radius: 50%;
      padding: 3px;
      border: 2px solid red;
    }
  }
}
//stories section ends here

.posts {
  // width: %;
  display: flex;
  justify-content: space-between;
  border: 2px solid green;
}

.postContainer {
  border: 1px solid $lightgrey;
  background-color: #fff;

  .userInfo {
    padding: 5px 15px;
    border-bottom: 1px solid $lightgrey;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .userImg {
      display: flex;
      align-items: center;

      .imgContainer {
        height: 45px;
        width: 45px;
        display: flex;
        align-items: center;
        padding-right: 10px;

        img {
          border-radius: 50%;
        }
      }

      p {
        font-weight: 500;
      }
    }

    .postIcon {
      font-size: 1.5rem;
    }
  }
}

.postSettings {
  padding: 5px 15px;
  margin-top: 10px;

  .postLikes {
    font-weight: 500;
    margin-bottom: 10px;
  }

  .postComments span {
    font-weight: 500;
  }

  .timePosted {
    margin: 10px 0 10px 0;
    text-transform: uppercase;
    color: grey;
    font-size: 1rem;
  }
}

.postIcons {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

  .postIcon {
    font-size: 2.3rem;
    padding-right: 15px;
  }
}

.addComment {
  border-top: 1px solid $lightgrey;
  padding: 10px 0;

  form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .emoticonsIcon {
      font-size: 2rem;
      padding: 0 5px;
    }
  }
}

textarea {
  width: 85%;
  border: none;
  resize: none;
  height: 30px;
  line-height: 25px;

  &::placeholder {
    line-height: 25px;
  }
}
.sidebar {
  width: 20%;
}
