//fonts
$primaryFont: "Roboto", sans-serif;
$secondaryFont: "Grand Hotel", cursive;
$baseFontSize: 1rem;

//colours
$primary: #262626;
$secondary: rgb(239, 239, 239);
$tertiary: #f77737;
$quaternary: #e1306c;
